Checks: "clang-analyzer-*,
         misc-*,
         modernize-*,
         performance-*,
         portability-*,
         readability-*,
         -misc-non-private-member-variables-in-classes
         -misc-no-recursion,
         -readability-magic-numbers,
         -readability-function-cognitive-complexity,
         -readability-uppercase-literal-suffix,
         -performance-no-int-to-ptr,
         -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling"
WarningsAsErrors: "*"
